body {
    background:darkblue;
    font-family:Arial, Helvetica, sans-serif;

}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background:lightsteelblue;
}

.assignment img {
    width:200px;
    padding:2px;
    border: 2px solid salmon;
    margin-right:20px;
}

h1 {

color:darkred;
text-align:center;


}

a {
    text-decoration:none;
    color:green;
}